include mixins.pug
doctype html
html(lang='ru')
    +dev_head("Kater Главная", true)
    body
        //-.rect_1024
        .wrapper
            .base
                +header(1)
                .filter_section
                    .section_inner
                        .filter_block
                            .filter_decoration
                                .filter_decor._dec-bird(
                                data-0-top-top='transform: scale(.5) translate(0, 200px); opacity: 0;'
                                data-120-top-top='transform: scale(1) translate(0, 0px); opacity: 1;'
                                )
                                    img(src='./images/decor_bird.svg')
                                .filter_decor._dec-cloud(
                                data-0-top-top='transform: scale(.5) translate(0, 200px); opacity: 0;'
                                data-120-top-top='transform: scale(1) translate(0, 0px); opacity: 1;'
                                )
                                    img(src='./images/decor_cloud.svg')
                                .filter_decor._dec-wave-1(
                                data-300-top-top='transform: scale(.5) translate(0, 200px); opacity: 0;'
                                data-420-top-top='transform: scale(1) translate(0, 0px); opacity: 1;'
                                )
                                    img(src='./images/decor_wave_2.svg')
                                .filter_decor._dec-wave-2(
                                data-300-top-top='transform: scale(.5) translate(0, 200px); opacity: 0;'
                                data-420-top-top='transform: scale(1) translate(0, 0px); opacity: 1;'
                                )
                                    img(src='./images/decor_wave_2.svg')
                                .filter_decor._dec-wave-3(
                                data-300-top-top='transform: scale(.5) translate(0, 200px); opacity: 0;'
                                data-420-top-top='transform: scale(1) translate(0, 0px); opacity: 1;'
                                )
                                    img(src='./images/decor_wave_2.svg')

                            .filter_title(
                                data-0-top-top='transform: scale(.8) translate(0, 200px); opacity: 0;'
                                data-120-top-top='transform: scale(1) translate(0, 0px); opacity: 1;'
                                ) Катера из Европы

                            .filter_wrapper.sticky(data-margin-top_='100' data-sticky-class='_stuck')
                                .tabContainer._open_tabs(data-mob-event='mobTabSwitcher')
                                    .filter_tabs
                                        .filter_category.dt_hidden
                                            a.category_btn.categoryBtn_(href='#') Категории
                                            //-a.close_category_btn.btn_blue.closeCategoryBtn(href='#')
                                        ul.tabControls.tab_controls
                                            li.tab_unit._tab-1
                                                a.tab_link(href='#tab_1'): span Более 10 метров
                                                a.tab_close_link.tabCloseLink(href='#')
                                            li.tab_unit._tab-2
                                                a.tab_link(href='#tab_2'): span Cо стационарными двигателями
                                                a.tab_close_link.tabCloseLink(href='#')
                                            li.tab_unit._tab-3
                                                a.tab_link(href='#tab_3'): span C подвесными двигателями
                                                a.tab_close_link.tabCloseLink(href='#')
                                            li.tab_unit._tab-4
                                                a.tab_link(href='#tab_4'): span РИБ
                                                a.tab_close_link.tabCloseLink(href='#')
                                            li.tab_unit._tab-5
                                                a.tab_link(href='#tab_4'): span Трейлеры
                                                a.tab_close_link.tabCloseLink(href='#')
                                        //-a.collapse_category_btn.closeCategoryBtn.btn_v4.btn_gray-2(href='#') Закрыть

                                    .filter_box
                                        #tab_1.filter_tab
                                            +filter_tab()
                                        #tab_2.filter_tab
                                            +filter_tab()
                                        #tab_3.filter_tab
                                            +filter_tab()
                                        #tab_4.filter_tab
                                            +filter_tab()
                                        #tab_5.filter_tab
                                            +filter_tab()

                            .filter_banner.mob_hidden(
                            data-120-top-top='transform: scale(.8) translate(0, 200px); opacity: 0;'
                            data-220-top-top='transform: scale(1) translate(0, 0px); opacity: 1;'
                            )
                                img(src='./images/adv.jpg')

                .main_content
                    .section_inner.clearfix
                        .main_block
                            .ad_title_holder.clearfix
                                .ad_title
                                    span.ff_mon_b 2070
                                    span  объявлений
                                .sort_block
                                    span.fl Сортировка:
                                    span.select_box_v1.fl
                                        select.select2
                                            option По цене
                                            option По дате

                            ul.ad_list.clearfix.boardGrid
                                li.gridItem
                                    .ad_unit
                                        a.ad_photo.bs.imgLoad(href='#')
                                            .ad_photo_year 2012
                                            img(src='./images/kater_1.jpg')
                                        .ad_info
                                            a.ad_unit_more.btn_blue(href='#')
                                            .ad_info_name: a.ad_info_link(href='#') LINSSEN YACHTS LINSSEN 439 SEDAN
                                            .ad_info_price 26 686 000 руб.
                                            .ad_info_old_price 395 000 €
                                            .ad_info_options
                                                span Нидерланды – 2х345 cv - Дизель
                                li.gridItem
                                    .ad_unit
                                        a.ad_photo.bs.imgLoad(href='#')
                                            .ad_photo_year 2017
                                            img(src='./images/kater_1.jpg')
                                        .ad_info
                                            a.ad_unit_more.btn_blue(href='#')
                                            .ad_info_name: a.ad_info_link(href='#') PRESTIGE PRESTIGE 630
                                            .ad_info_price 112 220 000 руб.
                                            .ad_info_old_price 1 650 000 €
                                            .ad_info_options
                                                span Нидерланды – 2х345 cv - Дизель
                                li.gridItem.dt_hidden._fr
                                    .ad_box.text_center
                                        .ad_box_decor
                                            .ad_infinity._left
                                            .ad_infinity._right
                                            .ad_bird
                                                img(src='./images/ad_bird.svg')
                                        .ad_box_title
                                            span -&nbsp;20%
                                            .ad_box_wave
                                                img(src='./images/wave_light_blue.svg')
                                        .ad_box_counter До лета осталось 243 дня.
                                        .ad_box_tip Время задуматься о катере!
                                        a.ad_box_more(href='#') Подробнее

                                li.gridItem
                                    .ad_unit
                                        a.ad_photo.bs.imgLoad(href='#')
                                            .ad_photo_year 2012
                                            img(src='./images/kater_1.jpg')
                                        .ad_info
                                            a.ad_unit_more.btn_blue(href='#')
                                            .ad_info_name: a.ad_info_link(href='#') LINSSEN YACHTS LINSSEN 439 SEDAN
                                            .ad_info_price 26 686 000 руб.
                                            .ad_info_old_price 395 000 €
                                            .ad_info_options
                                                span Нидерланды – 2х345 cv - Дизель
                                li.gridItem
                                    .ad_unit
                                        a.ad_photo.bs.imgLoad(href='#')
                                            .ad_photo_year 2017
                                            img(src='./images/kater_1.jpg')
                                        .ad_info
                                            a.ad_unit_more.btn_blue(href='#')
                                            .ad_info_name: a.ad_info_link(href='#') PRESTIGE PRESTIGE 630
                                            .ad_info_price 112 220 000 руб.
                                            .ad_info_old_price 1 650 000 €
                                            .ad_info_options
                                                span Нидерланды – 2х345 cv - Дизель
                                li.gridItem.dt_hidden._fl
                                    .ad_box
                                        .ad_box_recommend
                                            span.ff_mon_b Kater Center<br>
                                            span рекомендует
                                        ul.ad_box_links
                                            li: a.ad_box_link(href='#') Selected boats
                                            li: a.ad_box_link(href='#') Trade-in possible
                                            li: a.ad_box_link(href='#') Guarantee
                                            li: a.ad_box_link(href='#') Insurance

                                +loop_while(2)
                                    li.gridItem
                                        .ad_unit
                                            a.ad_photo.bs.imgLoad(href='#')
                                                .ad_photo_year 2012
                                                img(src='./images/kater_1.jpg')
                                            .ad_info
                                                a.ad_unit_more.btn_blue(href='#')
                                                .ad_info_name: a.ad_info_link(href='#') LINSSEN YACHTS LINSSEN 439 SEDAN
                                                .ad_info_price 26 686 000 руб.
                                                .ad_info_old_price 395 000 €
                                                .ad_info_options
                                                    span Нидерланды – 2х345 cv - Дизель
                                    li.gridItem
                                        .ad_unit
                                            a.ad_photo.bs.imgLoad(href='#')
                                                .ad_photo_year 2017
                                                img(src='./images/kater_1.jpg')
                                            .ad_info
                                                a.ad_unit_more.btn_blue(href='#')
                                                .ad_info_name: a.ad_info_link(href='#') PRESTIGE PRESTIGE 630
                                                .ad_info_price 112 220 000 руб.
                                                .ad_info_old_price 1 650 000 €
                                                .ad_info_options
                                                    span Нидерланды – 2х345 cv - Дизель
                                    li.gridItem
                                        .ad_unit
                                            a.ad_photo.bs.imgLoad(href='#')
                                                .ad_photo_year 2017
                                                img(src='./images/kater_1.jpg')
                                            .ad_info
                                                a.ad_unit_more.btn_blue(href='#')
                                                .ad_info_name: a.ad_info_link(href='#') PRINCESS YACHTS PRINCESS V53
                                                .ad_info_price 112 220 000 руб.
                                                .ad_info_old_price 1 650 000 €
                                                .ad_info_options
                                                    span Нидерланды – 2х345 cv - Дизель
                                li.gridItem
                                    .ad_unit
                                        a.ad_photo.bs.imgLoad(href='#')
                                            .ad_photo_year 2012
                                            img(src='./images/kater_1.jpg')
                                        .ad_info
                                            a.ad_unit_more.btn_blue(href='#')
                                            .ad_info_name: a.ad_info_link(href='#') LINSSEN YACHTS LINSSEN 439 SEDAN
                                            .ad_info_price 26 686 000 руб.
                                            .ad_info_old_price 395 000 €
                                            .ad_info_options
                                                span Нидерланды – 2х345 cv - Дизель
                                li.gridItem
                                    .ad_unit
                                        a.ad_photo.bs.imgLoad(href='#')
                                            .ad_photo_year 2017
                                            img(src='./images/kater_1.jpg')
                                        .ad_info
                                            a.ad_unit_more.btn_blue(href='#')
                                            .ad_info_name: a.ad_info_link(href='#') PRESTIGE PRESTIGE 630
                                            .ad_info_price 112 220 000 руб.
                                            .ad_info_old_price 1 650 000 €
                                            .ad_info_options
                                                span Нидерланды – 2х345 cv - Дизель

                                +loop_while(1)
                                    li.gridItem.dt_only
                                        .ad_unit
                                            a.ad_photo.bs.imgLoad(href='#')
                                                .ad_photo_year 2012
                                                img(src='./images/kater_1.jpg')
                                            .ad_info
                                                a.ad_unit_more.btn_blue(href='#')
                                                .ad_info_name: a.ad_info_link(href='#') LINSSEN YACHTS LINSSEN 439 SEDAN
                                                .ad_info_price 26 686 000 руб.
                                                .ad_info_old_price 395 000 €
                                                .ad_info_options
                                                    span Нидерланды – 2х345 cv - Дизель
                                    li.gridItem.dt_only
                                        .ad_unit
                                            a.ad_photo.bs.imgLoad(href='#')
                                                .ad_photo_year 2017
                                                img(src='./images/kater_1.jpg')
                                            .ad_info
                                                a.ad_unit_more.btn_blue(href='#')
                                                .ad_info_name: a.ad_info_link(href='#') PRESTIGE PRESTIGE 630
                                                .ad_info_price 112 220 000 руб.
                                                .ad_info_old_price 1 650 000 €
                                                .ad_info_options
                                                    span Нидерланды – 2х345 cv - Дизель
                                    li.gridItem.dt_only
                                        .ad_unit
                                            a.ad_photo.bs.imgLoad(href='#')
                                                .ad_photo_year 2017
                                                img(src='./images/kater_1.jpg')
                                            .ad_info
                                                a.ad_unit_more.btn_blue(href='#')
                                                .ad_info_name: a.ad_info_link(href='#') PRINCESS YACHTS PRINCESS V53
                                                .ad_info_price 112 220 000 руб.
                                                .ad_info_old_price 1 650 000 €
                                                .ad_info_options
                                                    span Нидерланды – 2х345 cv - Дизель
                                    li.gridItem.dt_only
                                        .ad_unit
                                            a.ad_photo.bs.imgLoad(href='#')
                                                .ad_photo_year 2017
                                                img(src='./images/kater_1.jpg')
                                            .ad_info
                                                a.ad_unit_more.btn_blue(href='#')
                                                .ad_info_name: a.ad_info_link(href='#') PRINCESS YACHTS PRINCESS V53
                                                .ad_info_price 112 220 000 руб.
                                                .ad_info_old_price 1 650 000 €
                                                .ad_info_options
                                                    span Нидерланды – 2х345 cv - Дизель

                            ul.ad_list_pagination
                                li._first
                                    a.btn_v1.pagination_btn.btn_gray(href='#')
                                        span.pagination_text
                                            span.i-chevron-left
                                li
                                    span.btn_v1.pagination_btn.btn_gray._active()
                                        span.pagination_text 1
                                li
                                    a.btn_v1.pagination_btn.btn_gray(href='#')
                                        span.pagination_text 2
                                li.mob_hidden
                                    a.btn_v1.pagination_btn.btn_gray(href='#')
                                        span.pagination_text 3
                                li.mob_hidden
                                    a.btn_v1.pagination_btn.btn_gray(href='#')
                                        span.pagination_text 4
                                li
                                    span.btn_v1.pagination_btn.btn_gray()
                                        span.pagination_text ...
                                li
                                    a.btn_v1.pagination_btn.btn_gray(href='#')
                                        span.pagination_text 24
                                li._last
                                    a.btn_v1.pagination_btn.btn_gray(href='#')
                                        span.pagination_text
                                            span.i-chevron-right

                        +aside(true)

                +advice_section()

            +footer()

        +popups()

    +scripts(true)
