include mixins.pug
doctype html
html(lang='ru')
    +dev_head("Kater Катер", false, false, false, true)
    body
        .wrapper
            .base
                +header(1)
                .filter_section
                    .section_inner
                        .filter_block
                            .filter_decoration
                                .filter_decor._dec-bird(
                                data-0-top-top='transform: scale(.5) translate(0, 200px); opacity: 0;'
                                data-120-top-top='transform: scale(1) translate(0, 0px); opacity: 1;'
                                )
                                    img(src='./images/decor_bird.svg')
                                .filter_decor._dec-cloud(
                                data-0-top-top='transform: scale(.5) translate(0, 200px); opacity: 0;'
                                data-120-top-top='transform: scale(1) translate(0, 0px); opacity: 1;'
                                )
                                    img(src='./images/decor_cloud.svg')
                                .filter_decor._dec-wave-1(
                                data-300-top-top='transform: scale(.5) translate(0, 200px); opacity: 0;'
                                data-420-top-top='transform: scale(1) translate(0, 0px); opacity: 1;'
                                )
                                    img(src='./images/decor_wave_2.svg')
                                .filter_decor._dec-wave-2(
                                data-300-top-top='transform: scale(.5) translate(0, 200px); opacity: 0;'
                                data-420-top-top='transform: scale(1) translate(0, 0px); opacity: 1;'
                                )
                                    img(src='./images/decor_wave_2.svg')
                                .filter_decor._dec-wave-3(
                                data-300-top-top='transform: scale(.5) translate(0, 200px); opacity: 0;'
                                data-420-top-top='transform: scale(1) translate(0, 0px); opacity: 1;'
                                )
                                    img(src='./images/decor_wave_2.svg')

                            .filter_title(
                                data-0-top-top='transform: scale(.8) translate(0, 200px); opacity: 0;'
                                data-120-top-top='transform: scale(1) translate(0, 0px); opacity: 1;'
                                ) Катера из Европы

                            +filter_block()
                            .filter_promo.mob_hidden(
                            data-120-top-top='transform: scale(.8) translate(0, 200px); opacity: 0;'
                            data-220-top-top='transform: scale(1) translate(0, 0px); opacity: 1;'
                            )
                                img(src='./images/adv.jpg')

                .main_content
                    .section_inner.clearfix
                        .product_name Princess Yahts Princess V53
                        .product_number Артикул 3424235

                        .product_block
                            .product_box._photos
                                .product_gallery.fancyGallery
                                    .fotorama(data-thumbwidth=64, data-thumbheight=49, data-width='100%', data-maxwidth=1200, data-maxheight=428, data-ratio="493/301", data-nav="thumbs")
                                        +loop_while(20)
                                            .gallery_image(data-thumb= './images/yacht_preview_1.jpg')
                                                img(src= './images/yacht_1.jpg')

                            .product_box._features
                                .product_features
                                    .product_year 2009
                                    dl.product_features_list
                                        dt Абсолютная длина
                                        dd 7.17 м

                                        dt Осадка
                                        dd 0.37 м

                                        dt Метариал
                                        dd Полиэстер

                                        dt Цвет
                                        dd Белый

                                        dt Страна
                                        dd Франция

                                    dl.product_features_list
                                        dt Ширина
                                        dd 2.59 м

                                        dt Длина палубы
                                        dd 1.8 м

                                        dt Корпус
                                        dd Цельный

                                        dt Район/Область
                                        dd 34 – Herault

                            .product_box._action
                                .product_action
                                    .product_action_price 26 686 000 руб.
                                    .product_action_old_price 395 000 €
                                    p
                                        a.btn_v2.btn_blue.get_info_btn(href='#') Запросить информацию
                                    .product_action_caption Есть вопросы?
                                    p Ответим на все интересующие вопросы, поможем с подбором
                                    p
                                        a.btn_v2.btn_black.get_info_btn.questionPopup(href='#') Задать вопрос

                    .section_inner.clearfix
                        +aside(false, 'mob_vis dt_only _promo-1')

                        .main_block._mod-1
                            .product_characteristics
                                .product_characteristics_caption Характеристики
                                ul.product_characteristics_list
                                    li._motor
                                        .product_characteristics_label двигатель
                                        dl.product_features_list
                                            dt Количество
                                            dd 7.17 м

                                            dt Тип двигателя
                                            dd Стационарный

                                            dt Мощность
                                            dd 256

                                            dt Пробег в часах
                                            dd 15

                                            dt Год выпуска
                                            dd 2009

                                            dt Марка
                                            dd Volvo

                                            dt Топливо
                                            dd Бензин
                                    li._living
                                        .product_characteristics_label жилое пространство
                                        dl.product_features_list
                                            dt Numbers of cabin (exept saloon)
                                            dd 1

                                            dt Numbers of heads
                                            dd 1

                                            dt Total numbers of breths
                                            dd 3

                                            dt Convertible saloon
                                    li._equipment
                                        .product_characteristics_label оборудование
                                        dl.product_features_list
                                            dd Bimini top <br> Swimming platform <br> Cockpit table <br> Stern sunbathing cushions <br> Shore power ilnet <br> Chemical head <br> Electric fridge <br> Winter cover <br> Cockpit shower <br> Cockpit cushions <br> Electrical citrcuit 220V 12V <br> Burner stove

                                    li._electric
                                        .product_characteristics_label Электроника
                                        dl.product_features_list
                                            dt Number of battrries
                                            dd 1

                                            dd Compass

                    .section_inner.clearfix
                        .filter_promo.mob_hidden._alone
                            img(src='./images/adv.jpg')

                    .section_inner.clearfix
                        .main_block
                            //-.product_characteristics_caption._bordered Похожие предложения

                            .action_title_holder.clearfix
                                .action_title
                                    span Похожие предложения

                            ul.action_list.clearfix.boardGrid._similar
                                li.gridItem
                                    .action_unit
                                        a.action_photo.bs.imgLoad(href='kater.html')
                                            .action_photo_year 2012
                                            img(src='./images/kater_1.jpg')
                                        .action_info
                                            a.action_unit_more.btn_blue(href='kater.html')
                                            .action_info_name: a.action_info_link(href='kater.html') LINSSEN YACHTS LINSSEN 439 SEDAN
                                            .action_info_price 26 686 000 руб.
                                            .action_info_old_price 395 000 €
                                            .action_info_options
                                                span Нидерланды – 2х345 cv - Дизель
                                li.gridItem
                                    .action_unit
                                        a.action_photo.bs.imgLoad(href='kater.html')
                                            .action_photo_year 2017
                                            img(src='./images/kater_1.jpg')
                                        .action_info
                                            a.action_unit_more.btn_blue(href='kater.html')
                                            .action_info_name: a.action_info_link(href='kater.html') PRESTIGE PRESTIGE 630
                                            .action_info_price 112 220 000 руб.
                                            .action_info_old_price 1 650 000 €
                                            .action_info_options
                                                span Нидерланды – 2х345 cv - Дизель
                                li.gridItem.dt_hidden._fr.mob_hidden
                                    .promo_box.text_center
                                        .promo_box_decor
                                            .promo_infinity._left
                                            .promo_infinity._right
                                            .promo_bird
                                                img(src='./images/ad_bird.svg')
                                        .promo_box_title
                                            span -&nbsp;20%
                                            .promo_box_wave
                                                img(src='./images/wave_light_blue.svg')
                                        .promo_box_counter До лета осталось 243 дня.
                                        .promo_box_tip Время задуматься о катере!
                                        a.promo_box_more(href='#') Подробнее

                                li.gridItem
                                    .action_unit
                                        a.action_photo.bs.imgLoad(href='kater.html')
                                            .action_photo_year 2012
                                            img(src='./images/kater_1.jpg')
                                        .action_info
                                            a.action_unit_more.btn_blue(href='kater.html')
                                            .action_info_name: a.action_info_link(href='kater.html') LINSSEN YACHTS LINSSEN 439 SEDAN
                                            .action_info_price 26 686 000 руб.
                                            .action_info_old_price 395 000 €
                                            .action_info_options
                                                span Нидерланды – 2х345 cv - Дизель
                                li.gridItem
                                    .action_unit
                                        a.action_photo.bs.imgLoad(href='kater.html')
                                            .action_photo_year 2017
                                            img(src='./images/kater_1.jpg')
                                        .action_info
                                            a.action_unit_more.btn_blue(href='kater.html')
                                            .action_info_name: a.action_info_link(href='kater.html') PRESTIGE PRESTIGE 630
                                            .action_info_price 112 220 000 руб.
                                            .action_info_old_price 1 650 000 €
                                            .action_info_options
                                                span Нидерланды – 2х345 cv - Дизель
                                li.gridItem.dt_hidden._fl.mob_hidden
                                    .promo_box
                                        .promo_box_recommend
                                            span.ff_mon_b Kater Center<br>
                                            span рекомендует
                                        ul.promo_box_links
                                            li: a.promo_box_link(href='#') Selected boats
                                            li: a.promo_box_link(href='#') Trade-in possible
                                            li: a.promo_box_link(href='#') Guarantee
                                            li: a.promo_box_link(href='#') Insurance

                                li.gridItem
                                    .action_unit
                                        a.action_photo.bs.imgLoad(href='kater.html')
                                            .action_photo_year 2012
                                            img(src='./images/kater_1.jpg')
                                        .action_info
                                            a.action_unit_more.btn_blue(href='kater.html')
                                            .action_info_name: a.action_info_link(href='kater.html') LINSSEN YACHTS LINSSEN 439 SEDAN
                                            .action_info_price 26 686 000 руб.
                                            .action_info_old_price 395 000 €
                                            .action_info_options
                                                span Нидерланды – 2х345 cv - Дизель
                                li.gridItem.mob_hidden
                                    .action_unit
                                        a.action_photo.bs.imgLoad(href='kater.html')
                                            .action_photo_year 2017
                                            img(src='./images/kater_1.jpg')
                                        .action_info
                                            a.action_unit_more.btn_blue(href='kater.html')
                                            .action_info_name: a.action_info_link(href='kater.html') PRESTIGE PRESTIGE 630
                                            .action_info_price 112 220 000 руб.
                                            .action_info_old_price 1 650 000 €
                                            .action_info_options
                                                span Нидерланды – 2х345 cv - Дизель

                +advice_section()

            +footer()

        +popups()

    +scripts(false, false, false, true)
